font-header = 'Roboto Slab', serif;
font-text = 'Raleway', sans-serif;
weight-regular = 400;
weight-medium = 500;
weight-thin = 300;
weight-bold = 700;
color-red = #EF4623;
color-orange = #F5A623;
color-black = #231F20;
color-grey = #7A8B89;
color-light-grey = #D3D7D7;
color-bg-gray= #FDFDFD;
