.site-footer {
    border-top: 1px solid color-light-grey;
    padding: 25px 0 50px 0;
    background-color: #fff;
}

.footer-content {
    position: relative;
    width: 80%;
    max-width: 710px;
    margin: 20px auto 0 auto;
    padding-bottom: 4rem;
    &__header {
        font-family: 'Roboto Slab', serif;
        font-weight: weight-bold;
        font-size: 16px;
        line-height: 32px;
        color: color-grey;
    }

    &__content {
        font-size: 14px;
        line-height: 22px;
        & a {
            border-bottom: 1px dotted color-light-grey;
            text-decoration: none;
            &:hover {
                border-bottom: 1px dotted color-red;
                color: color-red;
            }
        }
    }
}

.footer-row {
    margin-bottom: 10px;
    overflow: hidden;
}

.copyright {
    width: 60%;
    float: left;
    @media only screen and (max-width: 500px) {
        float: none;
        width: 90%;
        margin: 0 auto;
    }
}

.footer-subsubscribe {
    float: right;
    @media only screen and (max-width: 500px) {
        float: none;
        width: 90%;
        margin: 0 auto 25px auto;
        padding-top: 10px;
    }
}

.subscribe-button {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0 2rem;
    text-transform: uppercase;
    text-decoration: none;
    background-color: color-orange;
    color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

    @media only screen and (max-width: 500px) {
        width: 100%;
    }

    &:hover {
        box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
        color: #fff;
        background-color: rgba(245,166,35,0.90);
    }
}

.bottom-navigation {
    float:left;
    width: 30%;
    @media only screen and (max-width: 500px) {
        float: none;
        width: 90%;
        margin: 0 auto 50px auto;
    }

    & a {
        text-decoration: none;
        font-size: 14px;
        line-height: 22px;
        color: color-orange;
        display: table;
        margin-bottom: 5px;
        font-family: font-text;
        font-weight: weight-regular;
        text-align: left;
        padding: 0;
        margin: 0 0 5px 0;
        &:hover {
            color: color-grey;
        }
    }
}

.social-media {
    float:left;
    width: 30%;
    margin-left: 5%;
    @media only screen and (max-width: 500px) {
        float: none;
        width: 90%;
        margin: 0 auto;
    }
    &__link {
        text-decoration: none;
        font-size: 14px;
        line-height: 22px;
        color: color-orange;
        display: table;
        margin-bottom: 5px;
        &:hover {
            color: color-grey;
        }
    }

}
