@require 'common'

.post-list .post-title {
    font-family: 'Roboto Slab', serif;
    font-weight: weight-thin;
    font-size: 32px;
    line-height: 48px;

    a {
        color: color-red;
    }
}
