@require 'common'

.content {
    padding-top: 40px;

    @media only screen and (max-width: 500px) {
        margin: 0 20px;
    }

    & .post-title {
        font-family: 'Roboto Slab', serif;
        font-weight: weight-thin;
        font-size: 32px;
        line-height: 48px;
        color: color-red;

        a {
            color: color-red; 
        }
    }

    & .post {
        position: relative;
        width: 80%;
        max-width: 520px;
        margin: 20px auto 0 auto;
        padding-bottom: 4rem;
        word-wrap: break-word;
    }

    .post-date {
        display: inline-block;
        font-size: 12px;
        line-height: 25px;
        white-space: nowrap;
        color: color-light-grey;
        font-weight: weight-medium;
        margin-left: 6px;
        @media only screen and (max-width: 500px) {
            display: none;
        }

        &--top {
            display: none;
            @media only screen and (max-width: 500px) {
                display: block;
                font-size: 12px;
                line-height: 25px;
                white-space: nowrap;
                color: color-light-grey;
                font-weight: weight-medium;
                margin-left: 0;
            }
        }
    }

    .post-tags {
        display: inline-block;
        color: color-orange;
        font-weight: weight-medium;
        font-size: 15px;
        line-height: 25px;
        text-transform: uppercase;
        a {
            color: color-orange;
            text-decoration: none;
        }
    }
}

.main-header {
    height: 400px;/*230px*/
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;

    @media only screen and (max-width: 500px) {
        height: 230px;
    }
    & .on-image-logo {
        &__wrapper {
            position: relative;
            left: 50px;
            bottom: -343px;
            @media only screen and (max-width: 500px) {
                left: 0;
                bottom: -173px;
            }
        }

        &__image {
            @media only screen and (max-width: 500px) {
                display: block;
                margin: 0 auto;
            }

        }
    }
}
