@require 'index-page'
@require 'common'

body {
    font-family: font-text;
    font-weight: weight-regular;
}
.site-wrapper {
    background-color: color-bg-gray;
}

.post-date {
    display: block;
    font-size: 12px;
    line-height: 22px;
    white-space: nowrap;
    color: color-orange;
    font-weight: weight-medium;
}

.post-tags {
    color: color-light-grey;
    font-weight: weight-medium;
    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;
    a {
        color: color-light-grey;
        text-decoration: none;
    }
}
