.tag-title {
    max-width: 520px;
    margin: 0 auto;
    font-family: 'Roboto Slab', serif;
    font-weight: weight-bold;
    font-size: 16px;
    line-height: 32px;
    color: color-grey;
    margin-bottom: 30px;
}
